// RWD Bases
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin      : 0;
  font-family : sans-serif;
}

// Imágenes responsive
img {
  max-width : 100%;
  height    : auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration : none;
  &:hover { text-decoration : underline }
}

span,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  // font-family: $uiFont01;
}

a{
  color: var(--color09);
}

body{
  min-height: 100%;
}

// h1{
//   font-size: 1.5em;
//   letter-spacing: 0.05em;
//   font-weight: 600;
// }
// h2{
//   font-size: 1.2em;
//   letter-spacing: 0.05em;
//   font-weight: 600;
// }
// h3{
//   font-size: 1.1em;
//   letter-spacing: 0.05em;
//   font-weight: 600;
// }
// h4{
//   font-size: 1em;
//   letter-spacing: 0.025em;
//   font-weight: 600;
// }
// h5{
//   font-size: 0.9em;
//   letter-spacing: 0.025em;
//   font-weight: 600;
// }
// h6{
//   font-size: 0.8em;
//   letter-spacing: 0.025em;
//   font-weight: 600;
// }
// p{
//   font-size: 0.7em;
//   // font-family: $uiFont02;
// }
// input{
//   font-size: 0.9em;
//   // font-family: $uiFont02;
//   letter-spacing: 0.025em;
//   font-weight: 300;
// }
